<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
        </ul>
        <h3 class="text-muted">Conondrum.</h3>
        <p>Make some decisions today</p>
    </nav>
</div>