
<nav class="navbar navbar-inverse navbar-static-top">
  <img class="navbarImg" src="/images/logooo.png"/>
  <button class="poll-compose" type="submit" value="Create">
  <p class="navbarText">Make some decision Today!</p> 
  <img src='/images/compose.png'/>Create Poll</button>
</nav>