* {
  font-family: 'Josefin Sans', sans-serif;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand img {
  height: 6em;
  padding: 5px;
  width: auto;
}

.navbarImg {
  width: 170px;
  height: 170px;
  vertical-align: middle;
  float: none;
  margin-left: 200px;
}

.navbarText {
  color: white;
  float: left;
}

#nav-bar {
  position: inherit;
  height: 120px;
  width: 100%;
  background-color: #5AC;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 99999999;
}

#nav-bar .logo {
  padding-top: 10px;
  height: 80px;
  padding-right: 10px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  line-height: 80px;
  float: left;
}

.poll-compose {
  height: 64px;
  width: 100px;
  margin-top: 14px;
  opacity: 0.7;
  float: right;
  border-radius: 7px;
  color: black;
}


.poll-compose:hover {
  opacity: 1;
  box-shadow: 1px 1px black;
  background-color: #E9FFE9;
}

.poll-compose:click {
  opacity: 1;
}

.poll-compose img {
  height: 1.3em;
  width: 1.3em;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse {
  height: 100px;
}

.navbar-inverse .navbar-text {
    color: white;
    font-size: 2.5em;
}

.btn-lg.round {
	border-radius: 24px;
}

.btn-primary {
    color: #000;
    background-color: #F8AB05;
    border-color: #fff;
}

