/*#conundrum-container form Stylesheet */
* {
  font-family: 'Josefin Sans', sans-serif;
}



.pollLabel {
  font-size: 15px;
  margin-bottom: 0px;
}

#conundrum-container {
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 400px;
  margin: 70px auto;
  line-height: 30px;
}

#conundrum-container:after {
  content: "";
  display: table;
  clear: both;
}

#conundrum-container h2 {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  text-align: center;
  font-size: 43px;
}

#newPoll {
  margin-left: 33px;
}
#conundrum-container textarea {
  width: 290px;
  float: left;
  padding: 5px;
}

#conundrum-container input {
  width: 75%;
}

#conundrum-container .pollSubmit {
  margin-top: 10px;
  opacity: 0.8;
}

#conundrum-container input:hover {
  opacity: 1;
  font-size: 18px;
}

.counter {
  float: right;
  font-size: 75%;
  font-style: italic;
}

.rankingList {
  margin-left: 17px;
  float: left;
}

.optionList {
  float: right;
}

.voteList {
  margin-top: 5px;
}

#voteSection {
  border: 1px solid grey;
  border-radius: 10px;
  width: 500px;
  margin: 70px auto 0 auto;
  line-height: 30px;
  padding: 20px;
  background-color: white;
}

.voteTitle {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

.voteDescriptionTitle {
  margin-left: 15px;
}
#voteSection .voteInput {
  margin-top: 5px;
  margin-left: 16px;
  width: 70%;
}


.voteName {
  margin-left: 17px;
}
#voteSection .voteDescription {
  line-height: 23px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  width: 90%;
  height: 130px;
  margin-left: 15px;
  resize: none;
}

#voteSection .voteContent {
  float: left;
}

#voteBlank1 {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}

#voteBlank2 {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}

#voteBlank3 {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}

#voteBlank4 {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}

.voteEmpty {
  height: 5px;
}

#drag1 {
  margin-left: 70px;
}

#drag2 {
  margin-left: 70px;
}

#drag3 {
  margin-left: 70px;
}

#drag4 {
  margin-left: 70px;
}

/*.voteButton {

}*/


<nav id="nav-bar">
  <img class="logo" src="/images/navbar.png"/>
  <span class="header">Conundrum.</span>
  <p class = "header">Make some decisions today</p>
  